---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Le-am castigat increderea
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="rounded-xl bg-body border border-box-border group bg-red-600">
                <img src="/cursuri-seo/logos/raiffisen-bank.png" width="150" height=="30" alt="spotify" class="ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div class="rounded-xl bg-body border border-box-border group bg-red-600">
                <img src="/cursuri-seo/logos/f64.png" width="150" height=="30" alt="slack" class="w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div class="rounded-xl bg-body border border-box-border group bg-red-600">
                <img src="/cursuri-seo/logos/Decathlon.png" width="150" height=="30" alt="paypal" class="w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div class="rounded-xl bg-body border border-box-border group bg-red-600">
                <img src="/cursuri-seo/logos/BIODERMA.png" width="150" height=="30" alt="spotify" class="w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div class="rounded-xl bg-body border border-box-border group bg-red-600">
                <img src="/cursuri-seo/logos/carrefour.png" width="150" height=="30" alt="slack" class="w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
        </div>
    </Container>
</section>