---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
import EvolutionCard from "../Cards/EvolutionCard.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Evolutia noastra</Title>
    </div>
    <div class="flex justify-center gap-4">
      <EvolutionCard year="2012" title="LANSARE CURSURI SEO" description="In luna ianuarie 2012 am desfasurat primele cursuri SEO de grup sustinute de Ela Iliesi."/>
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="60px"
          height="80px"
          viewBox="0 0 50 80"
          xml:space="preserve"
        >
          <polyline
            fill="none"
            stroke="red"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
            points="
                    0.375,0.375 45.63,38.087 0.375,75.8 "
          ></polyline>
        </svg>
      </div>
      <EvolutionCard year="2014" title="ACADEMIE MARKETING" description="La 1 noiembrie 2014 am lansat prima academie completa de cursuri de marketing digital."/>
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="60px"
          height="80px"
          viewBox="0 0 50 80"
          xml:space="preserve"
        >
          <polyline
            fill="none"
            stroke="red"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
            points="
                    0.375,0.375 45.63,38.087 0.375,75.8 "
          ></polyline>
        </svg>
      </div>
      <EvolutionCard year="2016" title="CURSURI ACREDITATE" description="Am obtinut autorizatia firmei de a desfasura cursuri acreditate."/>
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="60px"
          height="80px"
          viewBox="0 0 50 80"
          xml:space="preserve"
        >
          <polyline
            fill="none"
            stroke="red"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
            points="
                    0.375,0.375 45.63,38.087 0.375,75.8 "
          ></polyline>
        </svg>
      </div>
      <EvolutionCard year="2018" title="DIPLOME SECURIZATE" description="Diplomele emise de companie sunt imposibil de falsificat."/>

    </div>
  </Container>
</section>
