---
import Button from '../shared/Button.astro';
import Container from '../shared/Container.astro';
import Paragraph from '../shared/Paragraph.astro';
//gwendolyn
---

<section
  class="relative pt-32 lg:pt-36 bg-gradient-to-br from-red-500 to-red-700 h-screen"
>
  <Container className={'flex flex-col lg:flex-row gap-10 lg:gap-12 '}>
    <div
      class="relative flex flex-col items-center text-center lg:py-7 xl:py-8 lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold text-heading-1"
      >
        Cursuri SEO Acreditate.
      </h1>
      <Paragraph className="lg:w-1/2 mt-8">
        Cursuri SEO practice in Bucuresti si online pentru incepatori si
        intermediari. Un proiect sustinut de MAKE IT ACADEMY - Cursuri Marketing
        Online Nr. 1 in Romania si London Marketing Academy - Digital Marketing
        Courses London.
      </Paragraph>
      <div class="flex flex-row pt-5 ml-[80px]">
      <div id="svg1" class="">
        <svg
          width="200px"
          height="220px"
          viewBox="-5 0 200 200"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          preserveAspectRatio="xMidYMid"
        >
          <g>
              <path d="M 30.44 117.844 A 22.977 22.977 0 0 0 34.651 119.702 A 5.863 5.863 0 0 0 34.984 119.769 Q 36.258 119.986 36.528 119.354 A 1.018 1.018 0 0 0 36.601 118.952 A 0.969 0.969 0 0 0 36.51 118.536 Q 36.232 117.941 35.101 117.602 A 11.083 11.083 0 0 1 33.511 117.031 Q 32.182 116.44 30.842 115.464 A 21.987 21.987 0 0 1 28.426 113.402 Q 26.105 111.132 25.025 107.16 A 25.708 25.708 0 0 1 24.301 103.202 Q 26.851 103.802 29.551 104.027 A 68.935 68.935 0 0 0 29.888 104.054 A 62.878 62.878 0 0 0 34.801 104.252 Q 44.251 104.252 52.951 101.102 Q 61.651 97.952 68.551 92.102 Q 75.451 86.252 79.426 78.002 A 38.615 38.615 0 0 0 82.018 70.906 A 45.125 45.125 0 0 0 83.401 59.552 Q 83.401 50.702 81.001 41.702 Q 78.601 32.702 74.551 22.352 A 81.662 81.662 0 0 0 74.793 22.052 A 74.591 74.591 0 0 0 78.151 17.552 Q 79.801 15.152 81.001 12.602 A 24.525 24.525 0 0 0 81.64 11.221 Q 82.951 8.134 82.951 5.552 A 10.97 10.97 0 0 0 82.941 5.075 Q 82.764 1.011 79.501 0.302 A 12.714 12.714 0 0 0 78.99 0.185 A 10.1 10.1 0 0 0 78.376 0.077 A 7.951 7.951 0 0 0 77.931 0.026 A 6.214 6.214 0 0 0 77.401 0.002 Q 74.401 0.002 72.301 1.952 A 12.322 12.322 0 0 0 71.311 2.984 A 13.241 13.241 0 0 0 69.076 6.752 A 17.56 17.56 0 0 0 68.843 7.375 A 15.221 15.221 0 0 0 67.951 12.452 L 67.951 13.577 Q 67.951 14.102 68.101 14.552 Q 68.551 17.402 69.226 19.802 A 388.574 388.574 0 0 1 69.393 20.399 A 351.243 351.243 0 0 1 70.501 24.452 A 132.52 132.52 0 0 1 68.841 26.305 A 148.427 148.427 0 0 1 60.976 34.277 Q 55.801 39.152 50.551 44.702 A 31.424 31.424 0 0 0 48.373 43.076 A 26.067 26.067 0 0 0 42.076 39.902 Q 37.651 38.402 33.151 38.402 Q 26.851 38.402 20.926 41.102 Q 15.001 43.802 10.276 48.602 Q 5.551 53.402 2.776 59.627 A 31.548 31.548 0 0 0 2.241 60.901 A 32.827 32.827 0 0 0 0.001 73.052 Q 0.001 79.502 2.176 85.427 Q 4.351 91.352 9.226 95.852 A 23.687 23.687 0 0 0 9.577 96.17 Q 12.242 98.533 15.787 100.253 A 38.082 38.082 0 0 0 22.051 102.602 A 31.509 31.509 0 0 0 22.077 102.953 Q 22.581 109.169 25.426 113.327 A 13.496 13.496 0 0 0 26.294 114.462 Q 27.96 116.415 30.44 117.844 Z M 33.901 101.852 Q 42.601 101.852 50.776 97.802 Q 58.951 93.752 65.026 87.227 Q 71.101 80.702 73.651 72.902 Q 75.001 68.702 75.601 64.352 Q 76.201 60.002 76.201 55.352 A 79.798 79.798 0 0 0 75.167 42.727 A 88.973 88.973 0 0 0 74.851 40.877 Q 73.501 33.452 71.101 26.402 A 171.376 171.376 0 0 1 64.379 33.419 A 195.53 195.53 0 0 1 61.951 35.777 A 267.315 267.315 0 0 0 54.441 43.244 A 302.096 302.096 0 0 0 51.901 45.902 A 15.745 15.745 0 0 1 55.686 51.509 A 18.515 18.515 0 0 1 55.951 52.202 Q 57.301 55.952 57.301 59.852 A 22.447 22.447 0 0 1 56.454 66.122 A 19.081 19.081 0 0 1 54.301 70.952 A 20.052 20.052 0 0 1 47.553 77.607 A 24.372 24.372 0 0 1 46.201 78.377 A 23.578 23.578 0 0 1 38.67 80.907 A 21.883 21.883 0 0 1 35.401 81.152 Q 33.751 81.152 32.176 80.852 Q 30.601 80.552 29.101 80.102 Q 27.151 84.752 25.651 90.077 A 40.187 40.187 0 0 0 24.336 96.825 A 34.154 34.154 0 0 0 24.151 100.352 A 29.48 29.48 0 0 0 31.323 101.758 A 34.895 34.895 0 0 0 33.901 101.852 Z M 22.051 99.752 Q 22.201 94.352 23.776 89.327 Q 25.351 84.302 27.301 79.352 A 13.078 13.078 0 0 1 24.746 77.542 A 10.374 10.374 0 0 1 22.801 75.152 A 11.411 11.411 0 0 1 21.7 72.681 A 9.019 9.019 0 0 1 21.301 70.052 A 8.858 8.858 0 0 1 21.763 67.115 Q 22.591 64.745 24.901 63.302 Q 25.579 62.895 25.889 62.856 A 0.496 0.496 0 0 1 25.951 62.852 A 0.648 0.648 0 0 1 26.129 62.874 Q 26.401 62.952 26.401 63.302 Q 26.401 63.75 25.656 64.496 A 7.019 7.019 0 0 1 25.651 64.502 A 7.931 7.931 0 0 0 23.959 66.55 A 6.716 6.716 0 0 0 23.101 69.902 A 7.79 7.79 0 0 0 26.03 76.12 A 12.099 12.099 0 0 0 27.901 77.402 Q 31.951 67.952 37.426 60.377 A 137.93 137.93 0 0 1 45.49 50.224 A 119.48 119.48 0 0 1 48.751 46.652 A 29.694 29.694 0 0 0 44.864 43.997 A 22.974 22.974 0 0 0 41.176 42.302 Q 37.351 40.952 33.451 40.952 Q 25.951 40.952 19.276 45.452 Q 12.601 49.952 8.551 57.302 Q 4.501 64.652 4.501 73.352 Q 4.501 78.752 6.001 83.927 Q 7.501 89.102 11.326 93.227 Q 14.792 96.965 20.784 99.287 A 38.665 38.665 0 0 0 22.051 99.752 Z M 34.501 79.202 A 18.427 18.427 0 0 0 40.003 78.324 A 25.294 25.294 0 0 0 44.176 76.577 A 20.087 20.087 0 0 0 49.437 72.681 A 18.167 18.167 0 0 0 51.901 69.452 A 17.698 17.698 0 0 0 54.441 60.664 A 21.217 21.217 0 0 0 54.451 60.002 Q 54.451 56.702 53.326 53.477 Q 52.201 50.252 49.951 47.852 A 149.743 149.743 0 0 0 41.836 57.683 A 173.562 173.562 0 0 0 39.076 61.427 A 84.186 84.186 0 0 0 32.357 72.593 A 100.978 100.978 0 0 0 29.701 78.302 A 10.977 10.977 0 0 0 32.522 79.07 A 14.326 14.326 0 0 0 34.501 79.202 Z M 73.951 20.402 Q 75.601 18.302 77.026 16.127 Q 78.451 13.952 79.501 11.552 A 26.012 26.012 0 0 0 80.443 9.549 Q 81.301 7.486 81.429 5.929 A 6.474 6.474 0 0 0 81.451 5.402 Q 81.451 4.433 81.154 3.834 A 1.617 1.617 0 0 0 80.251 3.002 A 1.277 1.277 0 0 0 79.938 2.857 Q 79.606 2.748 79.084 2.716 A 7.787 7.787 0 0 0 78.601 2.702 A 3.835 3.835 0 0 0 77.162 2.998 Q 76.617 3.218 76.055 3.599 A 8.436 8.436 0 0 0 75.451 4.052 A 5.687 5.687 0 0 0 74.422 5.188 Q 73.572 6.394 72.865 8.369 A 24.438 24.438 0 0 0 72.601 9.152 Q 72.151 10.652 72.151 12.152 A 15.583 15.583 0 0 0 72.553 15.622 A 17.566 17.566 0 0 0 72.676 16.127 A 61.229 61.229 0 0 0 73.42 18.746 A 73.848 73.848 0 0 0 73.951 20.402 Z" vector-effect="non-scaling-stroke"/>
          </g>
        </svg>
      </div>
      <div id="svg2">
        <svg
          width="200px"
          height="220px"
          viewBox="-5 0 200 200"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          preserveAspectRatio="xMidYMid"
        >
          <g>
              <path d="M 51.901 61.5 L 51.901 61.65 Q 51.901 62.629 51.518 62.969 A 0.75 0.75 0 0 1 51.001 63.15 Q 50.401 63.15 50.101 61.95 A 8.525 8.525 0 0 1 49.998 61.323 Q 49.958 60.998 49.952 60.707 A 4.96 4.96 0 0 1 49.951 60.6 L 49.951 59.4 Q 49.951 53.7 54.076 50.1 A 14.179 14.179 0 0 1 60.427 46.968 A 20.724 20.724 0 0 1 64.951 46.5 Q 71.101 46.5 75.601 50.625 A 13.513 13.513 0 0 1 79.725 58.121 A 20.023 20.023 0 0 1 80.101 62.1 Q 80.101 69.6 76.426 76.35 A 40.827 40.827 0 0 1 66.538 88.265 A 45.203 45.203 0 0 1 66.526 88.275 A 47.485 47.485 0 0 1 52.526 96.283 A 53.281 53.281 0 0 1 52.276 96.375 Q 44.251 99.3 35.401 99.3 L 33.301 99.3 Q 32.251 99.3 31.201 99.15 A 51.232 51.232 0 0 1 23.349 97.765 Q 18.934 96.605 15.335 94.664 A 30.365 30.365 0 0 1 13.876 93.825 A 31.934 31.934 0 0 1 7.782 89.044 A 26.056 26.056 0 0 1 3.451 83.25 A 28.007 28.007 0 0 1 0.486 75.258 A 25.035 25.035 0 0 1 0.001 70.35 A 32.706 32.706 0 0 1 1.597 59.997 A 29.199 29.199 0 0 1 4.651 53.55 Q 9.301 46.2 16.951 41.25 Q 24.601 36.3 33.601 34.5 A 15.221 15.221 0 0 1 31.612 31.392 A 17.975 17.975 0 0 1 31.126 30.3 A 13.183 13.183 0 0 1 30.268 26.903 A 16.707 16.707 0 0 1 30.151 24.9 A 20.538 20.538 0 0 1 30.792 19.887 A 24.07 24.07 0 0 1 31.201 18.45 Q 32.701 13.8 36.376 9.6 A 26.021 26.021 0 0 1 42.136 4.734 A 32.946 32.946 0 0 1 45.901 2.7 A 28.403 28.403 0 0 1 53.037 0.536 A 39.451 39.451 0 0 1 59.701 0 A 20.107 20.107 0 0 1 63.24 0.291 Q 67.086 0.98 69.301 3.3 A 11.447 11.447 0 0 1 71.712 6.983 A 10.649 10.649 0 0 1 72.451 10.95 A 11.096 11.096 0 0 1 72.205 13.326 A 9.547 9.547 0 0 1 71.851 14.55 Q 70.501 19.05 67.051 21.3 Q 63.601 23.55 59.701 23.55 A 6.075 6.075 0 0 1 57.965 23.312 A 4.922 4.922 0 0 1 56.176 22.35 A 4.417 4.417 0 0 1 55.308 21.387 A 3.388 3.388 0 0 1 54.751 19.5 A 2.013 2.013 0 0 1 54.774 19.214 Q 54.835 18.799 55.051 18.15 A 5.745 5.745 0 0 1 55.382 17.387 Q 56.077 16.081 57.151 16.2 Q 58.501 16.35 57.901 17.1 A 3.368 3.368 0 0 0 57.271 17.802 A 2.494 2.494 0 0 0 56.851 19.2 A 2.661 2.661 0 0 0 57.315 20.691 A 3.687 3.687 0 0 0 57.676 21.15 A 2.69 2.69 0 0 0 59.109 21.958 A 4.067 4.067 0 0 0 60.001 22.05 Q 62.101 22.05 64.876 19.875 Q 67.651 17.7 68.701 14.4 Q 69.001 13.2 69.226 12.15 Q 69.451 11.1 69.451 10.05 A 10.151 10.151 0 0 0 69.179 7.622 A 6.271 6.271 0 0 0 66.526 3.75 Q 63.601 1.8 60.001 1.8 A 16.696 16.696 0 0 0 54.366 2.816 A 22.045 22.045 0 0 0 51.151 4.275 Q 46.651 6.75 43.126 10.65 A 26.389 26.389 0 0 0 39.839 15.115 A 21.612 21.612 0 0 0 38.101 18.9 A 21.007 21.007 0 0 0 37.369 21.163 A 17.152 17.152 0 0 0 37.051 22.65 A 22.018 22.018 0 0 0 36.78 25.055 A 18.959 18.959 0 0 0 36.751 26.1 Q 36.751 28.275 37.241 29.959 A 10.025 10.025 0 0 0 37.276 30.075 Q 37.801 31.8 38.401 33.15 Q 43.651 31.95 48.151 31.95 A 22.407 22.407 0 0 1 50.42 32.057 Q 52.72 32.292 54.158 33.044 A 5.698 5.698 0 0 1 54.601 33.3 A 6.993 6.993 0 0 1 55.544 34.016 Q 56.701 35.076 56.701 36.3 Q 56.701 37.95 54.676 39.45 Q 53.136 40.591 50.598 40.864 A 15.88 15.88 0 0 1 48.901 40.95 A 17.634 17.634 0 0 1 46.979 40.835 Q 44.985 40.615 42.376 39.975 Q 38.401 39 35.251 36.3 A 37.556 37.556 0 0 0 24.629 40.764 A 44.087 44.087 0 0 0 22.276 42.3 Q 16.051 46.65 12.001 53.55 A 29.053 29.053 0 0 0 8.435 63.671 A 38.605 38.605 0 0 0 7.951 69.9 A 27.5 27.5 0 0 0 9.382 78.523 A 33.496 33.496 0 0 0 10.501 81.45 A 26.182 26.182 0 0 0 17.561 90.898 A 30.833 30.833 0 0 0 18.376 91.575 A 23.548 23.548 0 0 0 25.731 95.515 A 32.571 32.571 0 0 0 31.951 96.9 Q 33.151 97.05 34.351 97.125 A 39.045 39.045 0 0 0 35.792 97.19 A 31.831 31.831 0 0 0 36.601 97.2 Q 44.401 97.2 51.226 94.275 Q 58.051 91.35 63.301 86.4 Q 68.551 81.45 71.551 75.15 A 30.017 30.017 0 0 0 74.551 62.1 A 19.705 19.705 0 0 0 74.227 58.403 Q 73.46 54.393 70.876 52.125 Q 67.201 48.9 63.751 48.9 Q 59.556 48.9 56.947 50.582 A 8.143 8.143 0 0 0 54.601 52.875 Q 51.901 56.85 51.901 61.5 Z M 47.401 38.85 A 12.165 12.165 0 0 0 49.052 38.745 Q 50.618 38.531 51.676 37.875 A 5.972 5.972 0 0 0 52.328 37.414 Q 53.031 36.836 53.198 36.232 A 1.419 1.419 0 0 0 53.251 35.85 A 1.376 1.376 0 0 0 52.932 34.982 Q 52.632 34.602 52.051 34.275 Q 50.851 33.6 47.851 33.6 Q 45.901 33.6 43.726 33.825 A 20.248 20.248 0 0 0 40.142 34.538 A 23.07 23.07 0 0 0 39.301 34.8 Q 40.82 36.699 42.552 37.529 A 6.758 6.758 0 0 0 43.201 37.8 Q 45.237 38.528 45.863 38.691 A 3.93 3.93 0 0 0 45.901 38.7 A 4.702 4.702 0 0 1 46.377 38.724 A 3.681 3.681 0 0 1 46.726 38.775 A 4.263 4.263 0 0 0 47.04 38.827 Q 47.232 38.85 47.401 38.85 Z" vector-effect="non-scaling-stroke"/>
          </g>
        </svg>
      </div>
      <div id="svg3">
        <svg
          width="200px"
          height="220px"
          viewBox="-5 0 200 200"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          preserveAspectRatio="xMidYMid"
        >
          <g>
              <path d="M 23.734 103.655 A 30.949 30.949 0 0 0 33.901 105.3 A 40.755 40.755 0 0 0 38.892 104.991 A 45.99 45.99 0 0 0 49.951 102.15 Q 58.051 99 64.351 93.3 Q 70.051 88.05 75.301 79.875 Q 80.551 71.7 84.451 59.55 A 85.47 85.47 0 0 0 84.891 58.124 Q 86.186 53.795 86.862 49.819 A 49.382 49.382 0 0 0 87.601 41.55 A 36.68 36.68 0 0 0 87.178 35.862 A 27.342 27.342 0 0 0 85.051 28.65 A 9.638 9.638 0 0 1 85.286 28.109 A 7.886 7.886 0 0 1 85.726 27.3 Q 86.101 26.7 86.251 26.1 A 25.982 25.982 0 0 0 86.64 24.948 Q 87.451 22.346 87.451 20.25 A 12.927 12.927 0 0 0 87.345 18.572 A 9.191 9.191 0 0 0 84.451 12.825 Q 81.451 10.05 76.951 8.85 Q 72.451 7.65 67.951 7.65 Q 53.401 7.65 40.276 15.075 A 45.535 45.535 0 0 0 35.247 18.385 Q 29.859 22.455 25.102 28.419 A 84.127 84.127 0 0 0 17.401 40.05 Q 11.101 35.55 7.726 29.475 Q 6.197 26.722 5.36 24.077 A 20.597 20.597 0 0 1 4.351 17.85 A 17.145 17.145 0 0 1 4.407 16.447 A 13.494 13.494 0 0 1 7.051 9.3 A 12.955 12.955 0 0 1 9.073 7.057 A 16.052 16.052 0 0 1 12.001 5.025 A 14.13 14.13 0 0 1 18.901 3.3 A 12.729 12.729 0 0 1 23.084 4.019 A 16.389 16.389 0 0 1 26.626 5.775 A 14.118 14.118 0 0 1 29.214 7.969 Q 30.429 9.259 31.566 10.986 A 34.72 34.72 0 0 1 33.601 14.55 A 1.937 1.937 0 0 0 33.616 14.586 Q 33.917 15.298 34.576 15.225 Q 35.072 15.17 35.203 14.831 A 0.773 0.773 0 0 0 35.251 14.55 A 2.226 2.226 0 0 0 35.246 14.391 Q 35.231 14.195 35.18 14.073 A 0.382 0.382 0 0 0 35.101 13.95 Q 32.816 9.105 30.141 6.099 A 16.684 16.684 0 0 0 26.551 3 A 26.512 26.512 0 0 0 25.683 2.48 Q 21.356 0 17.401 0 A 19.043 19.043 0 0 0 16.981 0.005 A 16.09 16.09 0 0 0 9.226 2.1 A 29.06 29.06 0 0 0 7.079 3.445 Q 6.11 4.118 5.348 4.791 A 11.586 11.586 0 0 0 3.901 6.3 A 18.514 18.514 0 0 0 1.167 11.291 A 20.516 20.516 0 0 0 0.001 18.3 A 23.993 23.993 0 0 0 1.167 25.586 A 31.747 31.747 0 0 0 3.901 31.725 Q 7.801 38.55 15.751 43.2 A 88.87 88.87 0 0 0 12.904 49.845 A 112.775 112.775 0 0 0 9.751 59.4 A 72.441 72.441 0 0 0 8.82 63.038 A 62.442 62.442 0 0 0 7.201 76.95 A 49.734 49.734 0 0 0 7.314 80.354 Q 7.845 88.09 10.876 93.225 A 27.204 27.204 0 0 0 11.465 94.178 A 22.329 22.329 0 0 0 20.626 102.375 A 28.868 28.868 0 0 0 23.734 103.655 Z M 33.151 102.9 A 27.931 27.931 0 0 0 41.693 101.503 A 38.134 38.134 0 0 0 47.776 98.925 Q 55.351 94.95 61.351 88.35 A 77.633 77.633 0 0 0 68.18 79.491 A 91.921 91.921 0 0 0 71.026 74.925 Q 75.451 67.35 78.301 58.65 A 73.177 73.177 0 0 0 80.509 50.017 Q 81.451 45.012 81.451 40.5 A 38.367 38.367 0 0 0 81.392 38.338 A 31.594 31.594 0 0 0 81.301 37.125 Q 81.151 35.55 80.851 34.05 A 38.067 38.067 0 0 1 77.811 36.878 Q 75.327 38.962 72.076 41.1 A 43.455 43.455 0 0 1 65.65 44.554 A 59.607 59.607 0 0 1 58.876 47.025 A 52.242 52.242 0 0 1 50.567 48.764 Q 46.633 49.277 42.221 49.341 A 87.474 87.474 0 0 1 40.951 49.35 A 65.852 65.852 0 0 1 34.306 49.028 A 54.148 54.148 0 0 1 30.601 48.525 Q 25.801 47.7 21.901 46.2 Q 19.201 52.05 16.876 60.75 A 67.337 67.337 0 0 0 14.633 74.689 A 61.38 61.38 0 0 0 14.551 77.85 A 53.483 53.483 0 0 0 14.932 84.477 Q 15.985 92.884 19.951 97.125 A 17.976 17.976 0 0 0 26.575 101.714 A 17.947 17.947 0 0 0 33.151 102.9 Z M 41.101 47.55 A 69.143 69.143 0 0 0 49.655 47.048 Q 54.163 46.485 58.042 45.292 A 40.876 40.876 0 0 0 59.176 44.925 Q 66.373 42.479 71.422 39.057 A 36.144 36.144 0 0 0 72.151 38.55 A 54.543 54.543 0 0 0 75.751 35.759 Q 77.45 34.316 78.783 32.896 A 26.673 26.673 0 0 0 80.251 31.2 A 19.872 19.872 0 0 0 79.107 27.982 Q 78.285 26.202 77.157 24.864 A 11.447 11.447 0 0 0 76.501 24.15 A 8.54 8.54 0 0 0 70.318 21.601 A 10.943 10.943 0 0 0 70.201 21.6 Q 67.951 21.6 65.401 22.5 A 1.119 1.119 0 0 1 65.184 22.579 Q 64.951 22.64 64.614 22.649 A 4.461 4.461 0 0 1 64.501 22.65 A 1.376 1.376 0 0 1 64.227 22.625 Q 63.805 22.539 63.757 22.154 A 0.84 0.84 0 0 1 63.751 22.05 A 1.135 1.135 0 0 1 64.138 21.195 Q 64.341 21.005 64.651 20.85 A 11.408 11.408 0 0 1 68.141 19.698 A 15.281 15.281 0 0 1 70.651 19.5 A 17.302 17.302 0 0 1 75.674 20.271 A 21.273 21.273 0 0 1 77.701 21 A 12.699 12.699 0 0 1 83.462 25.816 A 15.353 15.353 0 0 1 83.551 25.95 Q 84.601 23.7 84.601 21.3 A 9.146 9.146 0 0 0 83.915 17.711 A 8.634 8.634 0 0 0 81.676 14.625 A 17.669 17.669 0 0 0 75.481 11.048 A 20.69 20.69 0 0 0 74.701 10.8 Q 71.101 9.733 67.975 9.733 A 17.819 17.819 0 0 0 67.201 9.75 A 41.275 41.275 0 0 0 57.36 11.403 A 51.426 51.426 0 0 0 52.051 13.275 A 42.75 42.75 0 0 0 43.632 17.991 A 58.516 58.516 0 0 0 36.826 23.7 A 55.813 55.813 0 0 0 30.544 31.034 Q 26.645 36.412 23.101 43.5 A 34.223 34.223 0 0 0 33.572 46.956 A 45.842 45.842 0 0 0 41.101 47.55 Z" vector-effect="non-scaling-stroke"/>
          </g>
        </svg>
      </div>
    </div>
    </div>
    
  </Container>
</section>
<script>
let animate = (id: string) => {
    let currentFrame: number,
    totalFrame: number,
    path: any,
    pathLength: number[],
    handle: number,
    myObj: any;

  myObj = document.getElementById(id);

  let init = () => {
    currentFrame = 0;
    totalFrame = 200;
    path = [];
    pathLength = [];
    for (let i = 0; i < myObj.querySelectorAll('path').length; i++) {
      path[i] = myObj.querySelectorAll('path')[i];
      pathLength[i] = path[i].getTotalLength();
      path[i].style.strokeDasharray = `${pathLength[i]} ${pathLength[i]}`;
      path[i].style.stroke = 'white';
      path[i].style.fill = 'none';
    }
    handle = 0;
  };

  let draw = () => {
    let progress = currentFrame / totalFrame;
    if (progress > 1) {
      cancelAnimationFrame(handle);
      for (let j = 0; j < path.length; j++) {
        path[j].classList.add('strokeStyle');
      }
    } else {
      currentFrame++;
      for (let j = 0; j < path.length; j++) {
        path[j].style.strokeDasharray =
          pathLength[j] * progress + ' ' + pathLength[j];
      }
      handle = requestAnimationFrame(draw);
    }
  };

  init();
  draw();
}

animate("svg1");
animate("svg2");
animate("svg3");
</script>
