---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/cards/BlogCard.astro';
import Hero from '../../components/sections/Hero.astro';
import Title from '../../components/shared/Title.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  return [
    {params: {tag: "seo"}, props: {posts: allPosts}},
    {params: {tag: "ghid"}, props: {posts: allPosts}},
    {params: {tag: "programatori"}, props: {posts: allPosts}},
    {params: {tag: "marketing"}, props: {posts: allPosts}},
    {params: {tag: "continut"}, props: {posts: allPosts}},
    {params: {tag: "noutati"}, props: {posts: allPosts}},
    {params: {tag: "trenduri"}, props: {posts: allPosts}},
    {params: {tag: "diacritice"}, props: {posts: allPosts}},
  ]
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) => post.frontmatter.tags?.includes(tag));
---
<Layout title={tag!}>
  <Hero title="Blog Cursuri SEO" description="Aici puteti afla cele mai noi si importante stiri despre inovatiile din domeniul SEO de care trebuie sa stie orice profesionist SEO sau cei care vor sa-si promoveze singuri afacerea online"/>
  <div class="flex flex-col items-center gap-4 p-4">
    <Title>Postai taguite cu tagul: {tag}</Title>
    {filteredPosts.map((post: any) => <BlogCard url={post.url!} imageUrl={post.frontmatter.image.url} title={post.frontmatter.title} description={post.frontmatter.description}/>)}
  </div>
</Layout>