---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bine ati venit le Cursuri SEO.">
  <section class="container mx-auto py-8">
    <img src="/cursuri-seo/images/echipa.JPG" class="w-full px-4 mb-4" />
    <div class="flex flex-row gap-6">
      <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold mb-4 p-2">Despre noi</h2>
        <p class="text-gray-700 p-2">
          Suntem o echipa de traineri pasionati de mediul online si specializati
          in cursuri despre optimizarea site-urilor pentru motoarele de cautare.
          Ne desfasuram activitatea pe teritoriul Romaniei, in principal in
          Bucuresti. Livram strategii actuale SEO, prezentate de traineri
          certificati, intr-un format interactiv, usor de inteles si de
          implementat.
        </p>

        <p class="text-gray-700 mt-4 p-2">
          Ne adresam celor care iubesc cursurile, pot reveni intr-o sala de curs
          indiferent de varsta, cred ca au de invatat pe tot parcursul vietii si
          ca e minunat sa stii sa spui: Nu stiu! Invata-ma!
        </p>

        <p class="text-gray-700 mt-4 p-2">
          Cursurile noastre au singurul scop de a iti servi toate cunostintele
          de care ai nevoie. Te vom ghida prin studii de caz si exercitii
          practice, iti vom prezenta uneltele gratuite pe care le poti folosi.
          Oferim de asemenea training si, desi nu suntem o agentie SEO full
          service, te putem ajuta sa iti gasesti angajatii sau partenerii
          potriviti.
        </p>

        <p class="text-gray-700 mt-4 p-2">
          <a
            href="https://rezistenta-online.us4.list-manage.com/subscribe?u=ce4cfff284af4f094115d0fcf&id=a73c2f0bd9"
            class="text-red-500"
            >Aboneaza-te la noutati
          </a> pentru a primi informatii despre urmatoarele cursuri pe care le vom
          desfasura.
        </p>

        <p class="text-gray-700 mt-4 p-2">
          Contacteaza-ne la 0764 118 196 sau trimite-ne un email la
          office@cursuri-seo.ro si spune-ne cu ce te putem ajuta.
        </p>
      </div>
      <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold mb-4">Trainerii nostri</h2>
        <p class="text-gray-700 p-2">
          Trainerii nostri sunt experti certificati Google Ads si Google
          Analytics, cu experienta indelungata in SEO, PPC si campanii de
          marketing online. Diplomele au fost obtinute in urma sustinerii
          examenelor din programele de certificare Google, aceasta fiind
          compania care le-a eliberat.
        </p>

        <p class="text-gray-700 mt-4 p-2">
          Trainer SEO: Ela Iliesi (SEO Expert @ eJobs)
        </p>
        <p class="text-gray-700 mt-4 p-2">
          Trainer Google Ads: Roxana Petrache (Online Marketing Specialist @
          adLemonade)
        </p>
        <p class="text-gray-700 mt-4 p-2">
          Trainer Google Analytics: Gabriel Nistoran (Data Analytics @ Tazz)
        </p>
        <p class="text-gray-700 mt-4 p-2">
          Trainer Marketing Online & Marketing Automation: Gabriela Ciocan
          (Fondator ErgalaMedia)
        </p>
        <p class="text-gray-700 mt-4 p-2">
          Trainer Social Media: Livia Pupaza Nidelea (Online Marketing
          Specialist @ adLemonade)
        </p>
        <p class="text-gray-700 mt-4 p-2">
          Trainer Content Writing: Marius Bujor (Technical SEO Specialist @
          Vertify)
        </p>
        <p class="text-gray-700 mt-4 p-2">
          Trainer SEO si HTML Cluj: Razvan Cristurean (.NET Developer at Yonder)
        </p>
      </div>
    </div>
  </section>
</Layout>
