---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import ArticleCard from '../components/Cards/ArticleCard.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Bine ati venit le Cursuri SEO.">
    <Hero title="Blog Cursuri SEO" description="Aici puteti afla cele mai noi si importante stiri despre inovatiile din domeniul SEO de care trebuie sa stie orice profesionist SEO sau cei care vor sa-si promoveze singuri afacerea online"/>
    <div class="flex flex-row">
      <div class="flex justify-center items-center w-1/2 p-2 m-2 border-2 border-double bg-red-400">
        <p class="text-center"><a
          href="https://rezistenta-online.us4.list-manage.com/subscribe?u=ce4cfff284af4f094115d0fcf&id=a73c2f0bd9"
          >Click aici si aboneaza-te la newsletter pentru a primi Ghidul de
          Marketing Modern, si informatii periodice privind ce e nou in domeniu si
          data urmatoarelor cursuri.</a
        ></p>
      </div>
      <div class="flex justify-center items-center w-1/2 p-2 m-2 border-2 border-double bg-red-400">
        <p class="text-center"><a href="/cursuri-seo/tags/">Acceseaza articolele dupa subiect</a></p>
      </div>
    </div>
    <div class="flex flex-col items-center gap-4 p-4">
      {
        allPosts.map((post) => (
          <ArticleCard
            url={post.url}
            imageUrl={post.frontmatter.image.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
          />
        ))
      }
    </div>
</Layout>
