---
import Layout from '../layouts/Layout.astro';
import BlogHero from '../components/sections/BlogHero.astro';
import BlogCard from '../components/cards/BlogCard.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Bine ati venit le Cursuri SEO.">
	<main class="flex flex-col overflow-hidden">
    <BlogHero/>
	<h1 class="text-heading-1">Blogul Cursuri SEO</h1>
    <p class="text-heading-2">Fii la curent cu ce e nou in domeniu</p>
    <p class="text-heading-2"><a href="/tags/">Acceseaza articolele dupa subiect</a></p>
    <ul>
        {allPosts.map((post) => <BlogCard url={post.url!} imageUrl={post.frontmatter.image.url} title={post.frontmatter.title} description={post.frontmatter.description}/>)}
    </ul>
	</main>
</Layout>
