---
import Layout from '../layouts/Layout.astro';

const logos = ["sapte-seri", "decathlon-logo", "raiffeisen-bank-logo", "Stanleybet", "CFR-calatori",
              "radio-romania-logo", "BIODERMA", "Evenimentul-zilei", "miniprix", "carrefour-logo",
              "greenpeace-logo", "edenred-logo", "Intertoy", "alix-avien", "watchshop",
              "Netbridge", "lista-firme-logo", "NNC-services", "cegeka-logo", "f64-logo",
              "maurer-logo" ]
---

<Layout title="Parerile cursantilor nostri">
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Testimoniale</h2>
                <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Va prezentam cursanti satisfacuti care s-au bucurat ca au facut alegerea buna acordandu-ne increderea</p>
            </div> 
            <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mi-a cristalizat notiunile</h3>
                        <p class="my-4">"Cursul SEO mi-a cristalizat notiunile despre acest domeniu si mi-a dat siguranta faptului ca pot fi competitiv. Multumesc."</p>                      
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Male-Avatar.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Dragos Cojocaru</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Director productie</div>
                        </div>
                    </figcaption>    
                </figure>
                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Am putut aplica imediat ceea ce am invatat</h3>
                        <p class="my-4">"Cursurile urmate, atat la sediu cat si online, au fost extrem de practice, am putut aplica imediat ceea ce am invatat, au fost pe intelesul meu."</p>
                        <p class="my-4">" Mai am de parcurs cateva module dar, chiar daca sunt in weekend si departe de casa, voi face acest efort stiind ca este util, de viitor si ca voi gasi sprijin la orice intrebare as avea, chiar si dupa curs."</p>
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Female-Avatar.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Adriana Seculin</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Administrator www.asiris.ro</div>
                        </div>
                    </figcaption>    
                </figure>
                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Informatia este bine structurata si prezentata</h3>
                        <p class="my-4">"Recomand cursurile deoarece:</p>
                        <p class="my-4">informatia este bine structurata si prezentata</p>
                        <p class="my-4">se fac 4-5 ore intr-o zi, alte 4-5 ore in alta zi</p>
                        <p class="my-4">pretul este f OK pt ceea ce primesti"</p>
             
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Male-Avatar-2.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Costin Dobre</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">PFA</div>
                        </div>
                    </figcaption>    
                </figure>
                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Sunt foarte multumita de cursul dvs.</h3>
                        <p class="my-4">"Sunt foarte multumita de cursul dvs. si, cu siguranta, va voi recomanda pe viitor si altor persoane."</p>
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Female-Avatar-4.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Gabriela Tamassy</div>
                        </div>
                    </figcaption>    
                </figure>

                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mi-a fost usor sa inteleg </h3>
                        <p class="my-4">""Mi-a placut foarte mult cursul de SEO. Din grupa mea de cursanti, eu eram singura persoana care nu avea un site pe care sa lucreze in mod curent la serviciu, dar citind inainte cate ceva despre acest domeniu si cu ajutorul informatiilor oferite de Alina mi-a fost usor sa inteleg si cred ca in momentul in care voi incepe sa lucrez efectiv pe online, o sa imi fie de mare ajutor lucrurile invatate la curs."</p>
                        <p class="my-4">"Multumesc!"</p>
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Female-Avatar.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Sinziana Andrei</div>
                        </div>
                    </figcaption>    
                </figure>

                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">M-au impresionat cu atitudinea lor profesionistă și conștiincioasă</h3>
                        <p class="my-4">"Domnișoara Maruster de la AdWords este un trainer excelent, mi-a plăcut foarte mult cursul ei; bine, toți sunt buni, dar ea, domnișoara Orel și domnul Drăgușin chiar m-au impresionat cu atitudinea lor profesionistă și conștiincioasă. "</p>
                        <p class="my-4"> Poate că sunt subiectiv și ca urmare a faptului că SEO și PPC chiar mă interesează foarte mult."</p> 
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Male-Avatar.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Marius Bujor</div>
                        </div>
                    </figcaption>    
                </figure>

                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Au fost 2 zile foarte frumoase</h3>
                        <p class="my-4">"Va multumesc pentru cursul de SEO practic. Felicitari specialistului SEO Alina Orel, care ne-a initiat in acest domeniu. Au fost 2 zile foarte frumoase, cu foarte multe informatii utile."</p>
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Female-Avatar-3.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Anca Tabara</div>
                        </div>
                    </figcaption>    
                </figure>

                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Foarte bun cursul Google AdWords</h3>
                        <p class="my-4">"Foarte bun cursul Google AdWords. Am invatat in cateva ore mai mult decat am invatat singur in ultimele 6 luni"</p>
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Male-Avatar-2.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Mircea Dan</div>
                        </div>
                    </figcaption>    
                </figure>

                <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                    <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">A fost o experienta grozava</h3>
                        <p class="my-4">"Participarea la cursul SEO online a fost o experienta grozava, prin intermediul careia am asimilat foarte multe cunostinte noi si care m-a determinat sa fiu nerabdatoare sa aplic ceea ce am invatat.</p>
                        <p class="my-4">"Cunostintele despre SEO sunt un must have in ziua de azi, in consecinta sa participi la un astfel de curs e o alegere inspirata."</p>
                    </blockquote>
                    <figcaption class="flex justify-center items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/cursuri-seo/images/Female-Avatar.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>Mirela Padurariu</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Manager Marketing Eurobike.ro</div>
                        </div>
                    </figcaption>    
                </figure>
            </div>
      </section>

      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
            <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl">Alatura-te firmelor care ne-au acordat incredere</h2>
                <div class="flex flex-wrap justify-center items-center">
                    {
                        logos.map((logo)=>(<img class="w-1/5 m-2" src=`/cursuri-seo/logos/${logo}.png` />))
                    }                        
                </div>
        </div>
    </section>

</Layout>

