---
import Container from '../shared/Container.astro';
import Paragraph from '../shared/Paragraph.astro';
import Title from '../shared/Title.astro'

interface Props {
  url: string,
  title: string,
  description: string
}

const { url, title, description } = Astro.props;
---

<section
  class=""
>
  <Container className={'flex flex-col lg:flex-row gap-10 lg:gap-12 '}>
    <div
      class="relative flex flex-col items-center text-center lg:py-7 xl:py-8 lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <Title><a href={url}>{title}</a></Title>
      <Paragraph className="lg:w-1/2 mt-8">
        {description}
      </Paragraph>
    </div>
    
  </Container>
</section>